/* input[type="date"]::-webkit-calendar-picker-indicator {
    background: #fff url('../../assets/icon/qlts-icon.png') no-repeat -285px -65px !important;
    width: 18px !important;
    height: 18px;
} */

.el-input__wrapper {
    border: 1px solid #afafaf;
    border-radius: 2.5px;
    box-shadow: none !important;
    background: #fff url('../../assets/icon/icon-date.png') no-repeat ;
    background-size: 24px !important;
    background-position: calc(100% - 6px) center !important; 
    cursor: pointer !important;
}

.el-input__wrapper:hover {
    border:1px solid #53bad5 !important;
}

.el-input__wrapper:focus {
    border:1px solid #6fc6dc !important;
}

.el-input__wrapper:active {
    border:1px solid #c3c3c3 !important;
}

.el-input__prefix-inner {
    display: none !important;
}

.el-input__suffix-inner {
    display: none !important;
}

.el-input__inner {
    color: #000 !important;
}

.date-picker {
    width: 100% !important;
    height: 100%  !important;
    color: #000 !important;
}