.modal {
    background-color: rgba(0, 0, 0, 0.55) !important;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 2;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    min-width: 350px;
    max-width: 400px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    padding: 24px;
    background-color: #fff;
    z-index: 10;
}

.header {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 24px;
}

.dialog__main {
    display: flex;
    align-items: center;
    /* height: 48px; */
}

.dialog__body {
    width: 100%;
}

.dialog__icon {
    width: 36px;
    height: 36px;
    background-color: #fff;
    margin-right: 20px;
    background: url("../../assets/icon/qlts-icon.svg") no-repeat -410px -59px;
}

.icon-warning {

}

.dialog__btn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 24px;
}

.hidden {
    opacity: 0;
}